Loading data into Pandas

In [34]:
import pandas as pd

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df_txt = pd.read_txt('pokemon_data.txt')
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')
dataframe = pd.read_csv('pokemon_data.csv') # read from .csv
print(dataframe)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [35]:
print(dataframe.head(5)) # first N rows

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [36]:
print(dataframe.tail(5)) # last N rows

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
795  719              Diancie     Rock  Fairy  50     100      150      100
796  719  DiancieMega Diancie     Rock  Fairy  50     160      110      160
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
795      150     50           6       True
796      110    110           6       True
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

Reading data in Pandas

In [37]:
# read headers

print(dataframe.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [38]:
# read each column

# print(dataframe['Name'])
# print(dataframe['Name'][0:5])
# print(dataframe.Name)
print(dataframe[['Name', 'Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [39]:
# read each row

# print(dataframe.head(5))
# print(dataframe.tail(5))
# print(dataframe.iloc[4])
# print(dataframe.iloc[1:5])
# for index, row in dataframe.iterrows(): # iterrows() - Iterate over DataFrame rows as (index, Series) pairs
#     print(index, row['Name'])
dataframe.loc[dataframe['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [40]:
# read a specific location [R, C]

print(dataframe.iloc[4,1])

Charmander

Sorting/Describing data

In [41]:
dataframe.describe()
# dataframe.sort_values('Name')
# dataframe.sort_values('Name', ascending=False)
# dataframe.sort_values(['Type 1', 'HP'], ascending=[1,1])

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Making changes to the data

In [42]:
# dataframe['Total'] = dataframe['HP'] + dataframe['Attack'] + dataframe['Defense'] + dataframe['Sp. Atk'] + dataframe['Sp. Def'] + dataframe['Speed']
# dataframe = dataframe.drop(columns=['Total'])

# criação da coluna 'Total'; selecionamos todas as linhas com ':' e as colunas de '5 a 10', pois a coluna 11 não é incluída
# então, realizamos uma soma, considerando o eixo x, ou seja, é uma soma horizontal dos valores que temos em uma linha
# obs.: começamos a contar a partir da coluna '#' (índices das linhas), cujo índice é 0, name é 1, type 1 é 2, assim por diante
dataframe['Total'] = dataframe.iloc[:, 4:10].sum(axis=1)
columns = list(dataframe.columns)
dataframe = dataframe[columns[0:4] + columns[10:12] + columns[4:10] + [columns[-1]]]
# não alteramos a tabela de fato, apenas de uma forma visual
dataframe.head(5)

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,1,False,39,52,43,60,50,65,309

Saving our data (exporting into desired format)

In [43]:
# dataframe.to_csv('modified.csv')
dataframe.to_csv('modified.csv', index=False)
dataframe.to_excel('modified.xlsx', index=False)
dataframe.to_csv('modified.txt', index=False, sep='\t')

Filtering data

In [44]:
new_df = dataframe.loc[(dataframe['Type 1'] == 'Grass') & (dataframe['Type 2'] == 'Poison')]

# new_df = new_df.reset_index() # salva com os índices antigos
# new_df = new_df.reset_index(drop=True)
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,80,100,123,122,120,80,625
4,43,Oddish,Grass,Poison,1,False,45,50,55,75,65,30,320
5,44,Gloom,Grass,Poison,1,False,60,65,70,85,75,40,395
6,45,Vileplume,Grass,Poison,1,False,75,80,85,110,90,50,490
7,69,Bellsprout,Grass,Poison,1,False,50,75,35,70,30,40,300
8,70,Weepinbell,Grass,Poison,1,False,65,90,50,85,45,55,390
9,71,Victreebel,Grass,Poison,1,False,80,105,65,100,70,70,490
10,315,Roselia,Grass,Poison,3,False,50,60,45,100,80,65,400
11,406,Budew,Grass,Poison,4,False,40,30,35,50,70,55,280
12,407,Roserade,Grass,Poison,4,False,60,70,65,125,105,90,515
13,590,Foongus,Grass,Poison,5,False,69,55,45,55,55,15,294
14,591,Amoonguss,Grass,Poison,5,False,114,85,70,85,80,30,464

In [45]:
# dataframe.loc[dataframe['Name'].str.contains('Mega')] # todos os pokémons cujo nome possui 'Mega'
dataframe.loc[~dataframe['Name'].str.contains('Mega')] # todos os pokémons cujo nome não possui 'Mega'

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
4,4,Charmander,Fire,NaN,1,False,39,52,43,60,50,65,309
5,5,Charmeleon,Fire,NaN,1,False,58,64,58,80,65,80,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,6,True,108,100,121,81,95,95,600
795,719,Diancie,Rock,Fairy,6,True,50,100,150,100,150,50,600
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,6,True,80,110,120,130,90,70,600

In [46]:
import re

# dataframe.loc[dataframe['Type 1'].str.contains('Fire|Grass', regex=True)]
dataframe.loc[dataframe['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,1,False,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,6,False,62,50,58,73,54,72,369
736,668,Pyroar,Fire,Normal,6,False,86,68,72,109,66,106,507
740,672,Skiddo,Grass,NaN,6,False,66,65,48,62,57,52,350
741,673,Gogoat,Grass,NaN,6,False,123,100,62,97,81,68,531
799,721,Volcanion,Fire,Water,6,True,80,110,120,130,90,70,600

In [47]:
dataframe.loc[dataframe['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
20,16,Pidgey,Normal,Flying,1,False,40,45,40,35,35,56,251
21,17,Pidgeotto,Normal,Flying,1,False,63,60,55,50,50,71,349
22,18,Pidgeot,Normal,Flying,1,False,83,80,75,70,70,101,479
23,18,PidgeotMega Pidgeot,Normal,Flying,1,False,83,80,80,135,80,121,579
30,25,Pikachu,Electric,NaN,1,False,35,55,40,50,50,90,320
136,127,Pinsir,Bug,NaN,1,False,65,125,100,55,70,85,500
137,127,PinsirMega Pinsir,Bug,Flying,1,False,65,155,120,65,90,105,600
186,172,Pichu,Electric,NaN,2,False,20,40,15,35,35,60,205
219,204,Pineco,Bug,NaN,2,False,50,65,90,35,35,15,290
239,221,Piloswine,Ice,Ground,2,False,100,100,80,60,60,50,450
438,393,Piplup,Water,NaN,4,False,53,51,53,61,56,40,314
558,499,Pignite,Fire,Fighting,5,False,90,93,55,70,55,55,418
578,519,Pidove,Normal,Flying,5,False,50,55,50,36,30,43,264

Conditional changes

In [54]:
# dataframe.loc[dataframe['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
# dataframe.loc[dataframe['Type 1'] == 'Fire', 'Legendary'] = True
dataframe = pd.read_csv('modified.csv')
dataframe

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,1,False,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,True,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,6,True,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,6,True,80,110,120,130,90,70,600

In [58]:
# dataframe.loc[dataframe['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
# dataframe.loc[dataframe['Total'] > 500, ['Generation', 'Legendary']] = ['TEST 1', 'Test 2']
dataframe = pd.read_csv('modified.csv')
dataframe

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,1,False,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,1,False,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,1,False,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,1,False,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,True,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,6,True,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,6,True,80,110,120,130,90,70,600

Aggregate statisctics (groupby)

In [70]:
# dataframe.groupby(['Type 1']).mean()
# dataframe.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
# dataframe.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)
# dataframe.groupby(['Type 1']).sum()
# dataframe.groupby(['Type 1']).count()
dataframe['count'] = 1
# dataframe.groupby(['Type 1']).count()['count']
dataframe.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

Working with large amounts of data

In [74]:
# o parâmetro chunksize indica que o arquivo .csv deve ser lido em pedaços (chunks) de 100000 linhas por vez
# assim, o loop permite processar separadamente os pedaços do arquivo
# for df in pd.read_csv('modified.csv', chunksize=100000): 

# for df in pd.read_csv('modified.csv', chunksize=5): 
#   print()
#   print('CHUNK DF')
#   print(df)

new_df = pd.DataFrame(columns=dataframe.columns)
for df in pd.read_csv('modified.csv', chunksize=5):
  results = df.groupby(['Type 1']).count()
  new_df = pd.concat([new_df, results])

new_df

,#,Name,Type 1,Type 2,Generation,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,count
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1,NaN
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4,NaN
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4,NaN
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1,NaN
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1,NaN
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2,NaN
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1,NaN
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2,NaN
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2,NaN